.board-list-container {
 width: 100%;
  max-width: 1000px;
  min-width: 400px;
  /* margin: auto; */

  /* 중앙 정렬을 위한 flex 컨테이너 부모 기준 필요 (Layout/main-content 쪽에서 정렬) */
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 8px;

  /* 높이 제한 */
  max-height: 90vh;
  min-height: 40vh;
  height: auto;
}

.board-list-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.board-list-container ul {
  list-style: none;
  padding: 0;
}

.board-list-container li {
  padding: 12px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.board-list-container a {
  text-decoration: none;
  color: #0066cc;
}

.board-list-container a:hover {
  text-decoration: underline;
}
