body {
  background-color: #f4f4f4;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.login-container {
  width: 100%;
  max-width: 800px;
  min-width: 400px;
  /* margin: auto; */

  /* 중앙 정렬을 위한 flex 컨테이너 부모 기준 필요 (Layout/main-content 쪽에서 정렬) */
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 8px;

  /* 높이 제한 */
  max-height: 90vh;
  height: auto;
}

input, button {
  width: 100%;
  padding: 20vh;
  margin: 10px 0;
  box-sizing: border-box;
}

button {
  background-color: #0066cc;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}

header, footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
}
